.gradle
/build
/app/build
*.iml
.idea
local.properties
.DS_Store
/captures
.externalNativeBuild
.cxx
/server/venv
/server/__pycache__
/server/models/base/*.onnx
/server/models/base/vocab.txt
*.hprof
gh_cli/
